.best-gifs
    display: flex
    flex-direction: column
    &__list
        list-style: none
        padding: 0
.title
    margin: 0
    color: #af36e7
    margin-bottom: 1.5rem

.item
    width: 100%
    font-size: 23px
    height: 3.5rem
    cursor: pointer
    color: darkblue